@import 'variables';

$themes: (
  light: (
          'header-background': $header-background-light,
          'header-primary-font-color': $header-text-light-primary,
          'header-secondary-font-color': $header-text-light-secondary,
          'body-title-color': $body-text-light-title,
          'body-text-color': $body-text-light-content,
          'background': $body-background-light,
          'news-box-background': $news-box-background-light
  ),
  dark: (
          'header-background': $header-background-dark,
          'header-primary-font-color': $header-text-dark-primary,
          'header-secondary-font-color': $header-text-dark-secondary,
          'body-title-color': $body-text-dark-title,
          'body-text-color': $body-text-dark-content,
          'background': $body-background-dark fixed,
          'news-box-background': $news-box-background-dark
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
