$header-height: 70px;
$header-link-vertical-margin: 0px;
$header-link-horizontal-margin: 5px;
$container-width: 1280px;

// Light theme colors
$header-background-light: #111111;
$header-text-light-primary: white;
$header-text-light-secondary: white;

$body-background-light: white;
$body-text-light-title: #CC0000;
$body-text-light-subtitle: black;
$body-text-light-content: black;

$news-box-background-light: #EDEDED;

// Dark theme colors
$header-background-dark: #233952;
$header-text-dark-primary: #43DDE6;
$header-text-dark-secondary: #FC5185;

$body-background-dark: #364F6B;
$body-text-dark-title: white;
$body-text-dark-subtitle: white;
$body-text-dark-content: white;

$news-box-background-dark: #233952;

$news-container-width-multi: 380px;
$news-container-height-multi: 290px;
